In [1]:
import numpy as np
import pandas as pd

In [15]:
df = pd.read_csv("blocklist.txt", sep='\s+', header = None) #use 'header = None' DO NOT "NONE" or "none"

In [13]:
df

                0            1           2
0   5.199.167.188  #INC0419544  2020-02-04
1   45.76.149.204  #INC0419544  2020-02-04
2    91.218.114.4  #INC0419544  2020-02-04
3   91.218.114.11  #INC0419544  2020-02-04
4   91.218.114.25  #INC0419544  2020-02-04
5   91.218.114.26  #INC0419544  2020-02-04
6   91.218.114.31  #INC0419544  2020-02-04
7   91.218.114.32  #INC0419544  2020-02-04
8   91.218.114.37  #INC0419544  2020-02-04
9   91.218.114.38  #INC0419544  2020-02-04
10  91.218.114.77  #INC0419544  2020-02-04
11     92.63.8.47  #INC0419544  2020-02-04
12   92.63.11.151  #INC0419544  2020-02-04
13     92.63.15.6  #INC0419544  2020-02-04
14     92.63.15.8  #INC0419544  2020-02-04
15    92.63.15.56  #INC0419544  2020-02-04
16   92.63.17.245  #INC0419544  2020-02-04
17   92.63.29.137  #INC0419544  2020-02-04
18     92.63.32.2  #INC0419544  2020-02-04
19    92.63.32.55  #INC0419544  2020-02-04
20   92.63.37.100  #INC0419544  2020-02-04
21    92.63.194.3  #INC0419544  2020-02-04

In [ ]:

### Rename Columns for Dataframe ###

In [28]:
df.columns = ['IPADDR', 'INCIDENT', 'DATE']

In [29]:
df

           IPADDR     INCIDENT        DATE
0   5.199.167.188  #INC0419544  2020-02-04
1   45.76.149.204  #INC0419544  2020-02-04
2    91.218.114.4  #INC0419544  2020-02-04
3   91.218.114.11  #INC0419544  2020-02-04
4   91.218.114.25  #INC0419544  2020-02-04
5   91.218.114.26  #INC0419544  2020-02-04
6   91.218.114.31  #INC0419544  2020-02-04
7   91.218.114.32  #INC0419544  2020-02-04
8   91.218.114.37  #INC0419544  2020-02-04
9   91.218.114.38  #INC0419544  2020-02-04
10  91.218.114.77  #INC0419544  2020-02-04
11     92.63.8.47  #INC0419544  2020-02-04
12   92.63.11.151  #INC0419544  2020-02-04
13     92.63.15.6  #INC0419544  2020-02-04
14     92.63.15.8  #INC0419544  2020-02-04
15    92.63.15.56  #INC0419544  2020-02-04
16   92.63.17.245  #INC0419544  2020-02-04
17   92.63.29.137  #INC0419544  2020-02-04
18     92.63.32.2  #INC0419544  2020-02-04
19    92.63.32.55  #INC0419544  2020-02-04
20   92.63.37.100  #INC0419544  2020-02-04
21    92.63.194.3  #INC0419544  2020-02-04
22    92.63.194.3  #INC0419544  2020-02-04
23    92.63.194.3  #INC0419544  2020-02-04
24    92.63.194.3  #INC0419544  2020-02-04
25    92.63.194.3  #INC0419544  2020-02-04
26    92.63.194.3  #INC0419544  2020-02-04
27    10.20.30.40  #INC0487230         NaN
28    19.74.32.09  #INC0482389         NaN
29   25.128.18.29  #INC0482874         NaN
30    150.12.18.2          NaN         NaN
31     87.23.41.5  #INC0912345         NaN
32    94.56.12.43   2020-12-02         NaN

In [36]:
df = pd.read_csv("blocklist.txt", sep='\s+', header = None)
df.columns = ['IPADDR', 'INCIDENT', 'DATE']
df #Now we will have additional rows (all duplicates)

           IPADDR     INCIDENT        DATE
0   5.199.167.188  #INC0419544  2020-02-04
1   45.76.149.204  #INC0419544  2020-02-04
2    91.218.114.4  #INC0419544  2020-02-04
3   91.218.114.11  #INC0419544  2020-02-04
4   91.218.114.25  #INC0419544  2020-02-04
5   91.218.114.26  #INC0419544  2020-02-04
6   91.218.114.31  #INC0419544  2020-02-04
7   91.218.114.32  #INC0419544  2020-02-04
8   91.218.114.37  #INC0419544  2020-02-04
9   91.218.114.38  #INC0419544  2020-02-04
10  91.218.114.77  #INC0419544  2020-02-04
11     92.63.8.47  #INC0419544  2020-02-04
12   92.63.11.151  #INC0419544  2020-02-04
13     92.63.15.6  #INC0419544  2020-02-04
14     92.63.15.8  #INC0419544  2020-02-04
15    92.63.15.56  #INC0419544  2020-02-04
16   92.63.17.245  #INC0419544  2020-02-04
17   92.63.29.137  #INC0419544  2020-02-04
18     92.63.32.2  #INC0419544  2020-02-04
19    92.63.32.55  #INC0419544  2020-02-04
20   92.63.37.100  #INC0419544  2020-02-04
21    92.63.194.3  #INC0419544  2020-02-04
22    92.63.194.3  #INC0419544  2020-02-04
23    92.63.194.3  #INC0419544  2020-02-04
24    92.63.194.3  #INC0419544  2020-02-04
25    92.63.194.3  #INC0419544  2020-02-04
26    92.63.194.3  #INC0419544  2020-02-04
27    10.20.30.40  #INC0487230         NaN
28    19.74.32.09  #INC0482389         NaN
29   25.128.18.29  #INC0482874         NaN
30    150.12.18.2          NaN         NaN
31     87.23.41.5  #INC0912345         NaN
32    94.56.12.43   2020-12-02         NaN

In [ ]:

### Drop the duplicate rows from our file ###

In [34]:
df.drop_duplicates()

                0            1           2
0   5.199.167.188  #INC0419544  2020-02-04
1   45.76.149.204  #INC0419544  2020-02-04
2    91.218.114.4  #INC0419544  2020-02-04
3   91.218.114.11  #INC0419544  2020-02-04
4   91.218.114.25  #INC0419544  2020-02-04
5   91.218.114.26  #INC0419544  2020-02-04
6   91.218.114.31  #INC0419544  2020-02-04
7   91.218.114.32  #INC0419544  2020-02-04
8   91.218.114.37  #INC0419544  2020-02-04
9   91.218.114.38  #INC0419544  2020-02-04
10  91.218.114.77  #INC0419544  2020-02-04
11     92.63.8.47  #INC0419544  2020-02-04
12   92.63.11.151  #INC0419544  2020-02-04
13     92.63.15.6  #INC0419544  2020-02-04
14     92.63.15.8  #INC0419544  2020-02-04
15    92.63.15.56  #INC0419544  2020-02-04
16   92.63.17.245  #INC0419544  2020-02-04
17   92.63.29.137  #INC0419544  2020-02-04
18     92.63.32.2  #INC0419544  2020-02-04
19    92.63.32.55  #INC0419544  2020-02-04
20   92.63.37.100  #INC0419544  2020-02-04
21    92.63.194.3  #INC0419544  2020-02-04
27    10.20.30.40  #INC0487230         NaN
28    19.74.32.09  #INC0482389         NaN
29   25.128.18.29  #INC0482874         NaN
30    150.12.18.2          NaN         NaN
31     87.23.41.5  #INC0912345         NaN
32    94.56.12.43   2020-12-02         NaN

In [37]:
df = pd.read_csv("blocklist.txt", sep='\s+', header = None)
df.columns = ['IPADDR', 'INCIDENT', 'DATE']
df #Now we will have a dataframe with missing column data

           IPADDR     INCIDENT        DATE
0   5.199.167.188  #INC0419544  2020-02-04
1   45.76.149.204  #INC0419544  2020-02-04
2    91.218.114.4  #INC0419544  2020-02-04
3   91.218.114.11  #INC0419544  2020-02-04
4   91.218.114.25  #INC0419544  2020-02-04
5   91.218.114.26  #INC0419544  2020-02-04
6   91.218.114.31  #INC0419544  2020-02-04
7   91.218.114.32  #INC0419544  2020-02-04
8   91.218.114.37  #INC0419544  2020-02-04
9   91.218.114.38  #INC0419544  2020-02-04
10  91.218.114.77  #INC0419544  2020-02-04
11     92.63.8.47  #INC0419544  2020-02-04
12   92.63.11.151  #INC0419544  2020-02-04
13     92.63.15.6  #INC0419544  2020-02-04
14     92.63.15.8  #INC0419544  2020-02-04
15    92.63.15.56  #INC0419544  2020-02-04
16   92.63.17.245  #INC0419544  2020-02-04
17   92.63.29.137  #INC0419544  2020-02-04
18     92.63.32.2  #INC0419544  2020-02-04
19    92.63.32.55  #INC0419544  2020-02-04
20   92.63.37.100  #INC0419544  2020-02-04
21    92.63.194.3  #INC0419544  2020-02-04
22    92.63.194.3  #INC0419544  2020-02-04
23    92.63.194.3  #INC0419544  2020-02-04
24    92.63.194.3  #INC0419544  2020-02-04
25    92.63.194.3  #INC0419544  2020-02-04
26    92.63.194.3  #INC0419544  2020-02-04
27    10.20.30.40  #INC0487230         NaN
28    19.74.32.09  #INC0482389         NaN
29   25.128.18.29  #INC0482874         NaN
30    150.12.18.2          NaN         NaN
31     87.23.41.5  #INC0912345         NaN
32    94.56.12.43   2020-12-02         NaN

In [ ]:

### Remove rows that have missing data ###

In [52]:
df.dropna()

           IPADDR     INCIDENT        DATE
0   5.199.167.188  #INC0419544  2020-02-04
1   5.199.167.188  #INC0423845  2020-01-17
2   45.76.149.204  #INC0419544  2020-02-04
3   45.76.149.204  #INC0216728  2018-06-12
4    91.218.114.4  #INC0419544  2020-02-04
5   91.218.114.11  #INC0419544  2020-02-04
6   91.218.114.25  #INC0419544  2020-02-04
7   91.218.114.26  #INC0419544  2020-02-04
8   91.218.114.31  #INC0419544  2020-02-04
9   91.218.114.32  #INC0419544  2020-02-04
10  91.218.114.37  #INC0419544  2020-02-04
11  91.218.114.38  #INC0419544  2020-02-04
12  91.218.114.77  #INC0419544  2020-02-04
13     92.63.8.47  #INC0419544  2020-02-04
14   92.63.11.151  #INC0419544  2020-02-04
15     92.63.15.6  #INC0419544  2020-02-04
16     92.63.15.8  #INC0419544  2020-02-04
17    92.63.15.56  #INC0419544  2020-02-04
18   92.63.17.245  #INC0419544  2020-02-04
19   92.63.29.137  #INC0419544  2020-02-04
20     92.63.32.2  #INC0419544  2020-02-04
21    92.63.32.55  #INC0419544  2020-02-04
22   92.63.37.100  #INC0419544  2020-02-04
23    92.63.194.3  #INC0419544  2020-02-04
24    92.63.194.3  #INC0419544  2020-02-04
25    92.63.194.3  #INC0419544  2020-02-04
26    92.63.194.3  #INC0419544  2020-02-04
27    92.63.194.3  #INC0419544  2020-02-04
28    92.63.194.3  #INC0419544  2020-02-04

In [30]:
df

           IPADDR     INCIDENT        DATE
0   5.199.167.188  #INC0419544  2020-02-04
1   45.76.149.204  #INC0419544  2020-02-04
2    91.218.114.4  #INC0419544  2020-02-04
3   91.218.114.11  #INC0419544  2020-02-04
4   91.218.114.25  #INC0419544  2020-02-04
5   91.218.114.26  #INC0419544  2020-02-04
6   91.218.114.31  #INC0419544  2020-02-04
7   91.218.114.32  #INC0419544  2020-02-04
8   91.218.114.37  #INC0419544  2020-02-04
9   91.218.114.38  #INC0419544  2020-02-04
10  91.218.114.77  #INC0419544  2020-02-04
11     92.63.8.47  #INC0419544  2020-02-04
12   92.63.11.151  #INC0419544  2020-02-04
13     92.63.15.6  #INC0419544  2020-02-04
14     92.63.15.8  #INC0419544  2020-02-04
15    92.63.15.56  #INC0419544  2020-02-04
16   92.63.17.245  #INC0419544  2020-02-04
17   92.63.29.137  #INC0419544  2020-02-04
18     92.63.32.2  #INC0419544  2020-02-04
19    92.63.32.55  #INC0419544  2020-02-04
20   92.63.37.100  #INC0419544  2020-02-04
21    92.63.194.3  #INC0419544  2020-02-04
22    92.63.194.3  #INC0419544  2020-02-04
23    92.63.194.3  #INC0419544  2020-02-04
24    92.63.194.3  #INC0419544  2020-02-04
25    92.63.194.3  #INC0419544  2020-02-04
26    92.63.194.3  #INC0419544  2020-02-04
27    10.20.30.40  #INC0487230         NaN
28    19.74.32.09  #INC0482389         NaN
29   25.128.18.29  #INC0482874         NaN
30    150.12.18.2          NaN         NaN
31     87.23.41.5  #INC0912345         NaN
32    94.56.12.43   2020-12-02         NaN

In [39]:
df = pd.read_csv("blocklist.txt", sep='\s+', header = None)
df.columns = ['IPADDR', 'INCIDENT', 'DATE']
df

           IPADDR     INCIDENT        DATE
0   5.199.167.188  #INC0419544  2020-02-04
1   5.199.167.188  #INC0423845  2020-01-17
2   45.76.149.204  #INC0419544  2020-02-04
3   45.76.149.204  #INC0216728  2018-06-12
4    91.218.114.4  #INC0419544  2020-02-04
5   91.218.114.11  #INC0419544  2020-02-04
6   91.218.114.25  #INC0419544  2020-02-04
7   91.218.114.26  #INC0419544  2020-02-04
8   91.218.114.31  #INC0419544  2020-02-04
9   91.218.114.32  #INC0419544  2020-02-04
10  91.218.114.37  #INC0419544  2020-02-04
11  91.218.114.38  #INC0419544  2020-02-04
12  91.218.114.77  #INC0419544  2020-02-04
13     92.63.8.47  #INC0419544  2020-02-04
14   92.63.11.151  #INC0419544  2020-02-04
15     92.63.15.6  #INC0419544  2020-02-04
16     92.63.15.8  #INC0419544  2020-02-04
17    92.63.15.56  #INC0419544  2020-02-04
18   92.63.17.245  #INC0419544  2020-02-04
19   92.63.29.137  #INC0419544  2020-02-04
20     92.63.32.2  #INC0419544  2020-02-04
21    92.63.32.55  #INC0419544  2020-02-04
22   92.63.37.100  #INC0419544  2020-02-04
23    92.63.194.3  #INC0419544  2020-02-04
24    92.63.194.3  #INC0419544  2020-02-04
25    92.63.194.3  #INC0419544  2020-02-04
26    92.63.194.3  #INC0419544  2020-02-04
27    92.63.194.3  #INC0419544  2020-02-04
28    92.63.194.3  #INC0419544  2020-02-04
29    10.20.30.40  #INC0487230         NaN
30    19.74.32.09  #INC0482389         NaN
31   25.128.18.29  #INC0482874         NaN
32    150.12.18.2          NaN         NaN
33     87.23.41.5  #INC0912345         NaN
34    94.56.12.43   2020-12-02         NaN

In [40]:
df.drop_duplicates(subset='IPADDR')

           IPADDR     INCIDENT        DATE
0   5.199.167.188  #INC0419544  2020-02-04
2   45.76.149.204  #INC0419544  2020-02-04
4    91.218.114.4  #INC0419544  2020-02-04
5   91.218.114.11  #INC0419544  2020-02-04
6   91.218.114.25  #INC0419544  2020-02-04
7   91.218.114.26  #INC0419544  2020-02-04
8   91.218.114.31  #INC0419544  2020-02-04
9   91.218.114.32  #INC0419544  2020-02-04
10  91.218.114.37  #INC0419544  2020-02-04
11  91.218.114.38  #INC0419544  2020-02-04
12  91.218.114.77  #INC0419544  2020-02-04
13     92.63.8.47  #INC0419544  2020-02-04
14   92.63.11.151  #INC0419544  2020-02-04
15     92.63.15.6  #INC0419544  2020-02-04
16     92.63.15.8  #INC0419544  2020-02-04
17    92.63.15.56  #INC0419544  2020-02-04
18   92.63.17.245  #INC0419544  2020-02-04
19   92.63.29.137  #INC0419544  2020-02-04
20     92.63.32.2  #INC0419544  2020-02-04
21    92.63.32.55  #INC0419544  2020-02-04
22   92.63.37.100  #INC0419544  2020-02-04
23    92.63.194.3  #INC0419544  2020-02-04
29    10.20.30.40  #INC0487230         NaN
30    19.74.32.09  #INC0482389         NaN
31   25.128.18.29  #INC0482874         NaN
32    150.12.18.2          NaN         NaN
33     87.23.41.5  #INC0912345         NaN
34    94.56.12.43   2020-12-02         NaN

In [59]:
mydup = pd.read_csv("blocklist.txt", sep='\s+', header = None)

mydup.columns = ['IPADDR', 'INCIDENT', 'DATE']
mydup.dropna(how='any', inplace=True)

mydup = df.drop_duplicates()
mydup = df.drop_duplicates(subset='IPADDR')

np.savetxt('output1.txt', mydup.values, fmt='%s')

mydup

           IPADDR     INCIDENT        DATE
0   5.199.167.188  #INC0419544  2020-02-04
2   45.76.149.204  #INC0419544  2020-02-04
4    91.218.114.4  #INC0419544  2020-02-04
5   91.218.114.11  #INC0419544  2020-02-04
6   91.218.114.25  #INC0419544  2020-02-04
7   91.218.114.26  #INC0419544  2020-02-04
8   91.218.114.31  #INC0419544  2020-02-04
9   91.218.114.32  #INC0419544  2020-02-04
10  91.218.114.37  #INC0419544  2020-02-04
11  91.218.114.38  #INC0419544  2020-02-04
12  91.218.114.77  #INC0419544  2020-02-04
13     92.63.8.47  #INC0419544  2020-02-04
14   92.63.11.151  #INC0419544  2020-02-04
15     92.63.15.6  #INC0419544  2020-02-04
16     92.63.15.8  #INC0419544  2020-02-04
17    92.63.15.56  #INC0419544  2020-02-04
18   92.63.17.245  #INC0419544  2020-02-04
19   92.63.29.137  #INC0419544  2020-02-04
20     92.63.32.2  #INC0419544  2020-02-04
21    92.63.32.55  #INC0419544  2020-02-04
22   92.63.37.100  #INC0419544  2020-02-04
23    92.63.194.3  #INC0419544  2020-02-04

In [60]:
np.savetxt('output.txt', df.values, fmt='%s', delimiter=" ", header="IPADDR\tINCIDENT\tDATE")